@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 24px;
  --swiper-theme-color: #006FEE;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-theme-color) !important;
}

.zoom-image-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

.zoom-image-container img.zoomed {
  transform: scale(2);
}

/* 360-degree view styles */
.product-360-view {
  position: relative;
  overflow: hidden;
}

.product-360-view img {
  transition: opacity 0.3s;
}

.product-360-view .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-360-view:hover .overlay {
  opacity: 1;
}

.navbar-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 50;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.navbar-dropdown-trigger:hover .navbar-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
